body {
  background: #202026;
}

.panel {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: #232834;
  border-radius: 10px;
  display: grid;
  position: relative;
  padding: 20px;
  margin-top: 100px;
}

textarea {
  background: none;
  outline: none;
  display: flex;
  resize: none;
  border: none;
  overflow: auto;
  margin: 0;
  color: transparent;
  caret-color: #51a1b3;
  font-size: 14pt;
  font-family: 'Ubuntu Mono', monospace;
  tab-size: 2em;
  position: absolute; 
  width: inherit;
  height: inherit;
  align-self: center;
  margin-left: 18px;
  z-index: 2;
}

textarea::selection {
  background: #3b5c7a7e;
  outline: none;
  border-radius: 5px;
}

#output
{
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  margin: 20px;
  width: inherit;
  height: inherit;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;

  font-size: 14pt;
  font-family: 'Ubuntu Mono', monospace;
  color: #cbf3fc;
  tab-size: 2em;
}

.string {
  color:#98C379;
}

.keyword {
  color:#B972D0;
}

.state-keyword {
  color: #7887DD;
}

.comment{
  color:#5C6370;
}

.numeric{
  color: #ee7f52;
}

.directive{
  color: #e1d86b;
}

.method{
  color: #56B6C2;
}